:root {
   --pixel-size: 2px;
   --grid-cell: calc( var(--pixel-size) * 16);
}

@media( min-width: 700px ) {
   :root {
      --pixel-size: 3px;
   }
}
@media( min-width: 1000px ) {
   :root {
      --pixel-size: 4px;
   }
}

body{
  object-fit: contain;
  /* font-family: 'VT323', monospace; */
  font-family: "Sofia", sans-serif;
  color:#666666;
  font-size: 20px;
  margin: auto;
  text-align: center;
  width: 100vw;height: 100vh;
  overflow: hidden;
  image-rendering: pixelated;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera {
   width: calc(22 * var(--grid-cell));
   height: calc(11 * var(--grid-cell));
   overflow: hidden;
   position:relative;
}

.backgroundContainer{
  /* image-rendering: pixelated; */
  /* background-image: url(assets/bgg1.png); */
  background-image: url('assets/ys.png');
  background-size: cover;
  transition: background-image 0.5s ease;
  /* transition: background-image 0.5s ease-in-out; */
  width: calc(95 * var(--grid-cell));
  height: calc(9.8 * var(--grid-cell));
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
}

#dino {
  height: 96px;
  width: 96px;
  position: absolute;
  image-rendering: pixelated;
  background: url("assets/dino-spritesheet.png")
    0px 0px;
  left:calc(var(--pixel-size) * 25);
  bottom:calc(var(--pixel-size) * 29);
}

.dinoAnimation{
  animation: play 0.7s steps(10) infinite;
}

#gif-container1 {
  width: 170px; /* Adjust width as needed */
  height: 220px;
  margin: 35px auto; /* Center the container */
  background: url("assets/muslim2.gif");
  /* left: calc(var(--pixel-size) * 1);  */
  /* top:calc(var(--pixel-size) * 20); */
  border: 2px solid #333;
  position: relative; 
  left: 700;
  top: calc(var(--pixel-size) * 38);
}

#gif-container2 {
  width: 170px; /* Adjust width as needed */
  height: 170px;
  margin: 10px auto; /* Center the container */
  background: url("assets/muslim3.gif");
  /* left: calc(var(--pixel-size) * 1);  */
  /* top:calc(var(--pixel-size) * 20); */
  border: 2px solid #333;
  position: relative; 
  left: calc(var(--pixel-size) * -500);
  top: calc(var(--pixel-size) * -14);
}

@keyframes play {
  100% {
    background-position: -944px;
  }
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome{
  width: calc( var(--grid-cell)* 3.5);
  position:relative;
  left:calc(var(--pixel-size) * 57);
  top:calc(var(--pixel-size) * 35);
  color:white;
  /* border: 2px solid #333; */
  background-color: rgba(241, 158, 85, 0.7); 
  border-radius: 16px;
}

.instructions{
  width: calc( var(--grid-cell)* 8 );
  position:absolute;
  color:white;
  left:calc(var(--pixel-size) * 110);
  top:calc(var(--pixel-size) * 20);
  font-size:25px;
  font-weight: 800;
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}



* {
  font-family: Courier;
  font-size: 11pt;
}

.chat {
  width: 500px;
  height: 90%;
  position: fixed;
  overflow: scroll;
}

.actions {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
}

.actions input{
  height: 30px;
  display: block;
  width: 100%;
  outline: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.messages div {
  max-width: 60%;
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
}

.messages1 div {
  max-width: 60%;
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
}


/* //herber */
.messages .bot {
  background: lightblue;
  width: 170px;
  height: 220px;
  margin: 35px auto; 
  border: 2px solid #333;
  position: relative; 
  left: 700;
  top: calc(var(--pixel-size) * 38);

}

.messages1 .self {
  /* text-align: right;
  margin-left: auto; */
  background: #DDD;

  width: 300px;
  height: 250px;
  margin: 35px auto; 
  border: 2px solid #333;
  position: relative; 
  left: 720;
  top: 0;
}





.chat2 {
  width: 500px;
  height: 90%;
  position: fixed;
  overflow: scroll;
}

.actions2 {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
}

.actions2 input{
  height: 30px;
  display: block;
  width: 100%;
  outline: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.messages2 div {
  max-width: 60%;
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
}

.messages3 div {
  max-width: 60%;
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
}

.messages2 .bot2 {
  background: lightblue;
  width: 170px;
  height: 170px;
  margin: 10px auto;
  border: 2px solid #333;
  position: relative; 
  left: 10px;
  top: 200px;

}

.messages3 .self2 {
  background: #DDD;
  width: 200px;
  height: 170px;
  margin: 10px auto;
  border: 2px solid #333;
  position: relative; 
  left: 40px;
  top: 230px;
}
